<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
    margin:0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
body{
    background-color: #24252A;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    
}
.logo
{
    width: 15%;
    cursor: pointer;
}
.navItems
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
    

}
a{
    text-decoration: none;
    color: white;
}
.navItems li{
    display: inline-block;
    margin: 20px 20px;
}
.navItems li a{
    transition: all 1s ease;
}
.navItems li a:hover{
    color: #a0c4ff;
}
.navItems li a button{
   
    transition: all 1s ease;
    border:none;
    background-color: #24252A;
    color: white;
}
.navItems li a button:hover{
    color: #a0c4ff;

}

.commentContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 40%;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: yellow;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 25px;
}

.avatar{
    width:65px;
    height: 50px;
    border-style: outset;
    margin: 20px;
    border: 5px solid #6253e1;
    border-radius: 50% ;
}
textarea{
    width: 400px;
    height: 100px;
    font-size: larger;
}
.commentButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}


.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn24 {
      background-image: linear-gradient(
        to right,
        #6253e1,
        #852d91,
        #a3a1ff,
        #f24645
      );
      box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    }
    </style>
    <title>Edit</title>
</head>
<body>

    <header>
        <nav class="navBar">
            <img src="http://localhost:3004/public/image/logo.jpg " alt="logo" class="logo">
            <div class="navItems">
                
              
            </div>
            
        </nav>
    </header>
    <br>
    
   <div class="commentContainer">
    <img src="http://localhost:3004/public/image/avatar.png" class="avatar">
       <form action="http://localhost:3004/comments/<%=details.id%>?_x=patch" method="post">
        <textarea  name="comment"> <%= details.comment %> </textarea>
        <div class="commentButtons">
            <button class="bn632-hover bn24">
                SAVE CHANGES
            </button>
       </form>
       <form action="http://localhost:3004/comments/<%=details.id%>?_x=delete" method="post">
        <button class="bn632-hover bn24">
            DELETE
        </button>

       </form>
       </div>
   </div>




   
</body>
</html>