@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin:0;
    padding: 0;
    color: white;
    font-family: "montserrat",sans-serif;
    
}

*{
    font-weight: bolder;
}




.activeButton{
    color: lime;
}

.signupForm{
    display: flex;
    margin: auto;
    flex-direction: column;
    font-size: 30px;
    margin-left: 30px;
    align-self: center;
    /* border: 3px solid white; */
    width: 50%;
    
}
.inputBox{
    height: 35px;
    width: 100%;
    font-size: 20px;
    color: black;
    /* border-radius: 15px 50px 30px 5px; */
    border-radius: 4px;
    margin: 0px 5px;
    border:2px solid #24252A;
    background-color: #24252A;
    color: white;

}

.containerSignup{
    
    height: 100%;
    width: 100%;
    
}
#namediv .inputbox{
width: 100%;

}

#namediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
    
}
.mainBox{
    
    
    padding: auto;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,255,255,0.5);
    margin-top: 80px;
    border-radius: 9px;
    
    
}

#signupButton{
    /* height: 35px; */
    width: 35%;
    padding: 2px 2px;
    font-size: 20px;
    font-weight: 300;
    font-family: monospace;
    color: #24252A;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: red;
    border:none;
    
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),  url("sportsBG.png");
    background-size: cover;
}
#checkP
{
    font-size: 15px;
    margin-left: 5px;
}
.inputBox::placeholder{
    opacity: 1;
    padding-left: 10px;
    font-size: 13px;
}
#namediv .inputBox::placeholder{
    opacity: 1;
    padding: 10px 16px;
}
