*{
    margin:0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
body{
    background-color: #24252A;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    
}
.logo
{
    width: 15%;
    cursor: pointer;
}
.navItems
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
a{
    text-decoration: none;
    color: white;
}
.navItems li{
    display: inline-block;
    margin: 20px 20px;
}
.navItems li a{
    transition: all 1s ease;
}
.navItems li a:hover{
    color: #a0c4ff;
}
.navItems li a button{
   
    transition: all 1s ease;
    border:none;
    background-color: #24252A;
    color: white;
}
.navItems li a button:hover{
    color: #a0c4ff;

}

.sportsNav{
    color: white;
    display: flex;
    margin: auto;
    width: fit-content;
    flex-direction: row;

    
}
.deactiveSportsNav{
    padding: 2%;
    border: 2px solid black;
    background-color: rgb(189, 16, 16);
    border-radius: 7px;
}
.activeSportsNav{
    padding: 2%;
    border: 2px solid black;
    background-color: rgb(91, 199, 149);
    border-radius: 7px;
}
.thumbnail{
    margin: 15px;
   border: 2px solid rgb(91, 199, 149);
   border-radius: 7px;
   border-radius: 10px;
}
.newsCard{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.headline{
    background: rgba(195, 235, 196, 0.892);
    color:  #24252A;
    width: 95%;
    border-top-right-radius: 20px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    
}

.description{
    width: 95%;
    margin-bottom: 20px;
}


/* button */
.button-73 {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-73:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
  }
  
  .button-73:active {
    transform: scale(1.025);
  }
  
  main{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #newsLink{
      text-decoration: underline;
      color: rgb(0, 136, 255);
      font-size: 0.8em;
  }
  #newsLink:hover{
    color: yellow;
    text-decoration: underline;
  }